.auth__form {
  background: var(--primary-color);
  padding: 40px !important;
  border-radius: 5px;

  .auth__btn {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
  }

  p {
    margin-top: 30px;

    a {
      color: rgba(255, 255, 255, 0.562);
    }
  }

  //   selector styling
  input[type="file"] {
    color: #fff;
    cursor: pointer;
  }
}
